* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  p {
    margin-top: 15px;
  }
  
  .container {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    min-height: 100vh;
  }
  
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: #CBE4DE;
  }

  .logo h1 {
    color: #0E8388;
    font-family: 'Dancing Script', cursive;
  }

  #contact-form h1 {
    color: #0E8388;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
  }

  .main-content {
    display: grid;
    gap: 30px;
  }

  .intro {
    min-height: 400px;
    background:url("../images/banner.png") no-repeat;
    background-size: contain;
  }

  #skill-box {
    text-align: center;
  }

  .showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center; 
    align-items: center;
    gap: 50px;
    text-align: center;
  }

  .skill {
    padding: 10px;
  }

  .skill img {
    width: 110px;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    list-style: none;
    margin: 0 10px;
    padding: 10px;
    border-right: 1px solid black;
  }
  
  nav a {
    text-decoration:none;
    text-transform: uppercase;
    color: #0E8388;
    text-align: left;
    font-size: 13px;
  }

  header nav ul li a:hover {
    color: orange;
}
  
  main {
    padding: 0px;
  }

/*   ------ Register form---------- */

  #form {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 70px;
    width: 80%;
    padding: 15px;
    margin: 30px auto;
  }

  .infobox img {
    width: 100%;
    max-width: 100%;
  }

  .infobox h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #0E8388;
  }

  .register form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 30px;
  }

  input[type="text"], input[type="email"], input[type="password"], textarea {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 5px 20px;
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  button:hover {
    background-color: lightblue;
  }
/*   ------ Register form ends---------- */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  p {
    font-family: 'Nunito', sans-serif;
  }

    /* Slide in left text - Animation 2 */

  #slide {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #0E8388;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-300px);
    }

    to {
      transform: translateX(0);
    }
  }

  #slide {
    animation: slideInLeft 1s ease-in 1s both;
    transform: translateX(-150px);
  }

  /* Skill bar animated */
  
  h3 {
    color: #0E8388;
    padding-bottom: 10px;
  }

  .skill-bar {
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .skill-bar li {
    margin: 20px 0;
    padding: 10px;
    list-style: none;
  }

  .bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .bar:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(145, 216, 228, 1)0%, rgba(191, 234, 245, 1)100%);
  }

  .html {
    width: 90%;
    animation: html 3s;
  }

  .css {
    width: 70%;
    animation: css 3s;
  }

  .seo {
    width: 45%;
    animation: seo 3s;
  }

  .javascript {
    width: 60%;
    animation: javascript 3s;
  }

  @keyframes html {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }

  @keyframes css {
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  }

  @keyframes seo {
    0%{
      width: 0%;
    }
    100%{
      width: 45%;
    }
  }

  @keyframes javascript {
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }

  @media only screen and (max-width: 400px) {
    #form {
      display: flex;
      flex-direction: column;
    }

    .showcase {
      display: flex;
      flex-direction: column;
    }

    .intro {
      min-height: auto;
    }

  }
